<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><title>Добавить автора</title></head><body>
<h1>Добавить автора</h1>
<form action="/add-author" method="POST">
  <div><label>Имя: <input name="name" required></label></div>
  <div><button type="submit">Сохранить</button> <button type="button" onclick="window.location.href='/'">Отмена</button></div>
</form>
</body></html>