<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><title>Добавить жанр</title></head><body>
<h1>Добавить жанр</h1>
<form action="/add-genre" method="POST">
  <div><label>Название жанра: <input name="name" required></label></div>
  <div><button type="submit">Сохранить</button> <button type="button" onclick="window.location.href='/'">Отмена</button></div>
</form>

<style>
  label{font-size: 18px;}
  input{border-radius: 20px; background-color: transparent; border-color: rgb(0, 0, 0); color: rgb(0, 0, 0);}
  button{margin-top: 20px; background-color: black; color: white; border-radius: 10px; padding: 0.5rem; cursor: pointer;}
</style>

</body></html>